body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #638cb4;
}

.secao1 {
    display: grid;
    align-items: center;
    text-align: center;
}

.secao2 {
    display: flex; /* Altera o layout para flexbox */
    justify-content: space-around; /* Espaçamento entre os itens */
    align-items: flex-start; /* Alinha os itens ao topo */
    text-align: left;
    gap: 20px; /* Espaçamento entre as colunas */
}

.secao2 h3 {
    color: #333;
    text-align: center;
}

.secao2 ul {
    flex: 1; /* Faz com que as listas ocupem o mesmo espaço */
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
  list-style: none; /* Remove os marcadores padrão */
  padding: 0;
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex; /* Define um layout flexível */
  justify-content: center; /* Centraliza os itens dentro do ul */
}

li {
  margin: 0 10px; /* Espaçamento entre os itens */
  text-align: center; /* Centraliza o texto dentro de cada li */
}

@media screen and (max-width: 768px) {
  .secao2 {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center; /* Centraliza os itens */
  }

  .secao2 ul {
    flex: none; /* Remove o flex para listas em telas menores */
    margin-bottom: 20px; /* Espaçamento inferior entre as listas */
  }
  
}