body{
    background-color: black;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}

.minha-div{
    background-color: red;
    width: 400px;
    height: 200px;
    border: yellow 1px solid;
    float: left;
}

.minha-div h1{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 10px;
}

.minha-div p{
    color: white;
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.minha-div2{
    background: linear-gradient(to right, blue, lightblue); /* Gradiente de azul para azul claro */
    width: 400px;
    height: 200px;
    border: yellow 1px solid;
    float: right;
}

.minha-div2 h1{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 10px;
}

.minha-div2 p{
    color: white;
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}