* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Define o layout flexível */
    flex-wrap: wrap; /* Permite que os artigos quebrem linha se necessário */
    gap: 20px; /* Espaçamento entre os artigos */
    justify-content: center; /* Centraliza os artigos horizontalmente */
    padding: 20px; /* Espaçamento interno da página */
    background-color: #f4f4f4;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}

article {
    flex: 1 1 300px; /* Define largura mínima de 300px e ajusta conforme o espaço disponível */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor dos artigos */
    padding: 20px; /* Espaçamento interno dos artigos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
    background-color: #f9f9f9; /* Cor de fundo dos artigos */
    max-width: 400px; /* Define uma largura máxima para os artigos */
    border-radius: 5px;
    margin: 20px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    align-items: center; /* Alinha os itens da lista ao centro */
    display: flex; /* Define o layout flexível para os itens da lista */
    justify-content: center; /* Centraliza os itens da lista horizontalmente */
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 10px; /* Espaçamento interno dos itens da lista */
    background-color: #e9ecef; /* Cor de fundo dos itens da lista */
}