div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div1 {
    overflow: visible;
    background-color: yellow;
    text-align: right;
    padding: 10px;
}

.div2 {
    overflow: visible;
    background-color: brown;
    color: aliceblue;
    padding: 10px;
}

body {
    background-color: aqua;
}

.strong {
    text-align: center;
    padding-bottom: 20px;
}