/* Exemplo de utilização de em e rem */

html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-size: 1rem; /* 16px */
}

p {
    font-size: 1em; /* igual ao body = 16px */
    line-height: 1.5em; /* 24px */
    margin-bottom: 2rem; /* 32px */
}

#meuBotao {
    padding: 0.5em 2em; /* vertical: 8px, horizontal: 32px */
    font-size: 1rem; /* 16px */
    border-radius: 0.5rem; /* 8px */
    border: rgb(190, 100, 100) solid 1px;
    background-color: #fff9c4;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#minhaDiv {
    padding: 2rem; /* 32px */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#minhaDiv h1 {
    font-size: 2.5rem; /* 40px */
    text-align: center;
}