html, body {
  margin: 0;
  padding: 0;
  background-color: #376fe9;
}

.container {
  height:500em;
  position: relative;
}

.treinaWeb {
  position: absolute;
  top: 200px;
  left: 400px;
  border: solid 2px black;
}