* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  padding: 10px 20px;
  flex-wrap: wrap;
  position: relative;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo img {
  margin-left: auto;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .menu.active {
    display: flex;
  }

  .logo {
    order: 2;
    margin-left: auto;
  }

  .menu-toggle {
    order: 1;
  }

  .menu {
    order: 3;
  }
}